.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #115cd4;
}

h1 {
  margin: 60px ;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #fff;
}

p {
  font-size: 2rem;
  color: #fff;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.play1 {
  margin: 3rem 3rem;
}

.play2 {
  margin: 3rem 3rem;
}

button {
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-color: #79bbff;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  font-weight: bold;
  padding: 16px 30px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
  width: 150px;
}

button:hover {
  background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  background-color: #378de5;
}

button:active {
  position: relative;
  top: 1px;
}